# Python specific
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
*.log
*.pot
*.pyc
*.pyo
*.orig
*.coverage
.cache
*.mako
*.nox
*.cover
.hypothesis/
*.mo
*.pyd
*.so
*.log
.coverage.*
.cache
.pytest_cache/
.installed.cfg
*.egg
*.egg-info/
*.manifest
.pyre/
.env
# If you use Poetry
poetry.lock

# Django specific
*.log
*.pot
*.pyc
*.pyo
__pycache__/
db.sqlite3
